@charset "UTF-8";

/* class일 땐 '.' */
/* id일 땐 '#' */

.bg01 {background-color: #eee; 
width: 400px;}

/* text-align : 영역 내의 글자 수평정렬 */
.ta01 {text-align: left;}
.ta02 {text-align: center;}
.ta03 {text-align: right;}
.ta04 {text-align: justify;}

/* text-decoration: ; 글자의 줄들 */
.td01 {text-decoration: overline;}
.td02 {text-decoration:line-through;}
.td03 {text-decoration: underline}
.td04 {text-decoration: none;} 
.td04:hover {text-decoration: underline;} /* :hover - 마우스를 가져다놨을 때 동작*/

/* text-indent: ; 들여쓰기 */
.ti01 {text-indent:10px;} 
.ti02 {text-indent:1em;} 
.ti03 {border: 1px solid;
text-indent: 10%;}
.ti04 {text-indent: -10em;}
.ti04:hover {
 text-indent: 0;}
.ti05 {text-indent: 5em;} /* 여러 줄일 경우 첫 줄에만 적용됨 */
 

/* text-transform: ; 대소문자 지정 */
.tt01 {text-transform: none;}
.tt02 {text-transform: lowercase;}
.tt03 {text-transform: uppercase;}
.tt04 {text-transform: capitalize;} /* 단어의 첫글자만 대문자로 변경 */


/* text-shadow: ; 글자의 그림자 지정 */
#sec05>p {
/* 
 1. 관계선택자 A>B는 부모자식. 
 상위요소 A의 바로 한단계 아래, 안에
 있는 하위요소 B를 불러오는 선택자.
 
 2. 관계선택자 A B는 조상자손.
 상위요소 A의 아래, 안에 있는 
 모든 하위요소 B를 불러오는 선택자.
*/
font-size: 50px;
font-weight: bold;
	
}

.ts01 {text-shadow: 2px 3px 6px #000;}
.ts02 {text-shadow: -2px -3px 6px #000;} 
.ts03 {color:#fff; text-shadow: 0 3px 3px #000;}
.ts04 {
background-color: #000;	
padding:0.5em;
text-align: center;
text-shadow: 0 0 20px #bef;}

.ts05 {
background-color: #000;	
padding:0.5em;
text-align: center;}
.ts05:hover {
 text-shadow: 0 0 30px #f02289;
 transition:1.3s /* ~초 동안 속성값이 서서히 변화
 (단순한 애니 효과) */;	}
 
 .ts06 {
 text-shadow: 2px 2px 0 #e00, -2px -2px 0 #00e;	
 color: #fff;}
 .ts06:hover {
 text-shadow: 0 0 0 #eee, 0 0 0 #eee;	
 color: #eaeaea;
 transition:1.5s;}
 


/* text-overflow: ; 영역밖의 글자 처리 */

